<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    <div id="app">

        <h1>{{  n  }}</h1>

        <br>
        <button @click="clickButton()">
            <h2>เปลี่ยนไฟ</h2>
            
            
        </button>

    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                n:'green',
                startId: 0,
                boxes: [{startId:0,color:'green'},{startId:1,color:'yellow'},
                {startId:2,color:'red'}]
            },
            methods: {
                clickButton: function(){
                        if(this.startId<=1){
                            this.startId=this.startId+1
                            this.n=this.boxes[this.startId].color
                        }else{
                            this.startId=this.startId-2
                            this.n=this.boxes[this.startId].color
                        }
                    }
                },
            computed: {

            }
        });
    </script>
</body>
</html>
